<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track My Weight</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    

    <main>
        <h1>Track My Weight</h1>
        <form action="./" method="POST">
            <label for="weight"></label>
            <input id="weight" type="number" step="0.1" name="weight" placeholder="Input Weight In kg" required="true">
            <label for="date"></label>
            <!--<input type="date" name="date" id="date" value="<%= Date() %> "> -->
            <input type="date" name="date" id="date">
            <button class="button-add">Add</button>
        </form>
 
        <div class="controls">
            <button type="button" onclick="location.href='/week'" class="week date-button">Week</button>
            <button type="button" onclick="location.href='/month'" class="month date-button">Month</button>
            <button type="button" onclick="location.href='/90days'" class="days-90 date-button">90 Days</button>
            <button type="button" onclick="location.href='/180days'" class="days-180 date-button">180 Days</button>
            <button type="button" onclick="location.href='/year'" class="year date-button">1 Year</button>
            <button type="button" onclick="location.href='/'" class="all date-button">All</button>
        </div>
        
        

        <h1 class="margin-top-20">List Of Weights</h1>
        <% if (weights.length > 0) { %>
        <% weights.forEach(weight => { %>
            
            <div class="weight-container">
                <p><%= weight.date.toString().substr(0, 15) %> </p>
                <h4><%= weight.weight %>kg </h4>
                <a class="delete" data-doc="<%= weight._id %> ">Delete</a>
            </div>
            
        <% }) %>  

        <% } else { %>
         <p>There are no weights to display, please add some...</p>
         <% } %> 

         <script>
            const today = new Date().toISOString().substr(0, 10);
            document.querySelector("#date").value = today

            
             const deleteButtons = document.querySelectorAll('a');
             deleteButtons.forEach( (delButton) => {
                delButton.addEventListener('click', (e) => {
                 const endpoint = `/${delButton.dataset.doc}`;
                 
                 fetch(endpoint, {
                     method: 'DELETE'
                 })
                .then((response) => response.json())
                .then((data) => window.location.href= data.redirect)
                .catch(err => console.log(err));
             })
             })

             const week = document.querySelector(".week")
             week.addEventListener('click', () => {
                console.log('button clicked');
             })

             

             
             
         </script>
    </main>
</body>
</html>