*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 50px;
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.margin-top-20{
    margin-top: 20px;
}

.delete{
    display: block;
    cursor: pointer;
    background-color: #ee635c;
    color: white;
    min-width:#ff2014 100px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    
}

.delete:hover{
    background-color: #ff2014;
}

.button-add{
    cursor: pointer;
    background-color: #6180fa;
    color: white;
    min-width: 100px;
    padding: 5px 0;
    border-radius: 5px;
}

.button-add:hover{
    background-color: #2851f5;
}

.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid grey;
    min-width: 300px;
    margin-top: 20px;
    padding:0 50px;
    padding-bottom: 20px;
}

.date-button{
    min-width: 90px;
}

.week{
    grid-column: 1/2;
}

.month{
    grid-column: 2/3;
}

.days-90{
    grid-column: 3/4;
}

.days-180{
    grid-column: 1/2;
}

.year{
    grid-column: 2/3;
}

.all{
    grid-column: 3/4;
}

#date{
    min-height: 30px;
}

.weight-container{
    display: flex;
    min-width: 380px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
    text-align: center;
    margin: 20px;
    padding: 20px;
}